/* -------------------- NAVBAR STYLE -----------------------*/
.contact-bar-width
{
  width: 100%; 
  background-color: #9D9D9D; 
  border-bottom: 1pt solid white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.contact-bar
{
    margin-bottom: 0; 
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 8pt;
    color: aliceblue;
}

.contact-bar p
{
    margin: 0;
    padding: 2px;
}

.contact-bar-Item
{
    padding: 0pt;
}

.navbar
{
    background-color: #6CAFD9;
    border-bottom: 3px solid white;
    color: white;
    padding: 0px;
    margin-bottom: 200px;
}

#navLogo
{
   width: 120px;
   padding: 5px;
}

.nav-link
{
    color: white;
    margin-right: 20px;
    margin-left: 30px;
}

.navbar-toggler
{
    color: white;
}


/* Add an active class to highlight the current page 
.topnav a.active {
  background-color: #585481;
  color: white;
} */


/* ------------------------------------------------------------------------------------------- */

/* ---------------------  VIDEO & Welcome Text -----------------*/

/* Style the video: 100% width to cover the entire window */
#videoDiv
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#myVideo
{
  width: 100%;
  height: 100vh;
  object-fit: fill;
  margin-bottom: 0px;
}

#overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top:150pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logoHomepage
{
  height: calc(150pt + 2vw);
  padding-bottom: 20pt;
}

#MainTitle
{
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: calc(10pt + 1vw);
  text-align: center;
}

#welcomeText
{
  font-family: 'Original Surfer', cursive;
  color: white;
  font-size: calc(8pt + 1vw);
  text-align: center;
}

#HomepageBookLesson-Btn
{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  box-shadow: 3px 5px #B2B2B2; 
}


/* ----------------------------------------------------------------------------------------------*/

/* CIRCULAR LINKS SECTION */

#Circle-Links-Section
{
  background-color: #6CAFD9;
}

.img-center
{
  margin:0 auto;
}

.img-circular
{
  width: calc(150pt + 1vw);
  height: calc(150pt + 1vw);
  background-size: cover;
  display: block;
  border-radius: calc(200pt + 1vw);
  -webkit-border-radius: calc(150pt + 1vw);
  -moz-border-radius: calc(150pt + 1vw);
  margin-top: 30px;
  border: 3px solid white;
}

#img-surf-lesson-circle
{
  background-image: url('/img/surf-lesson2-circle.jpg');
}

#img-kids-camp-circle
{
  background-image: url('/img/kids-camp-circle.jpg');
}

#img-sup-circle
{
  background-image: url('/img/SUP-circle.jpg');
}

#img-rentals-circle
{
  background-image: url('/img/rentals-circle.jpg');
}

.circular-text
{
  margin-top: 22pt;
  text-align: center;
  font-size: 16pt;
}

#AboutTitle
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Original Surfer', cursive;
    font-size: 3vw;
}

#surf-hr
{
    width:30vw;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.about-para
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
