body 
{
  width: 100%;
  background-color: #E3EFFA;
}

/* -------------------- NAVBAR STYLE -----------------------*/
.contact-bar-width
{
  width: 100%; 
  background-color: #9D9D9D; 
  border-bottom: 1pt solid white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.contact-bar
{
    margin-bottom: 0; 
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 8pt;
    color: aliceblue;
}

.contact-bar p
{
    margin: 0;
    padding: 2px;
}

.contact-bar-Item
{
    padding: 0pt;
}

.navbar
{
    background-image: linear-gradient(to right, #6CAFD9, #70C1B3);
    /* background-color: #6CAFD9; */
    border-bottom: 3px solid white;
    color: white;
    padding: 0px;
    margin-bottom: 200px;
}

#navLogo
{
   width: 120px;
   padding: 5px;
}

.nav-link
{
    color: white;
    margin-right: 20px;
    margin-left: 30px;
}

.navbar-toggler
{
    color: white;
}


/* Add an active class to highlight the current page 
.topnav a.active {
  background-color: #585481;
  color: white;
} */


/* ------------------------------------------------------------------------------------------- */

/* ---------------------  VIDEO & Welcome Text -----------------*/

/* Style the video: 100% width to cover the entire window */
#videoDiv
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#myVideo
{
  width: 100%;
  height: 100vh;
  object-fit: fill;
  margin-bottom: 0px;
}

#overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top:200pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logoHomepage
{
  height: calc(150pt + 2vw);
  padding-bottom: 20pt;
}

#MainTitle
{
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: 24pt;
  text-align: center;
}

#welcomeText
{
  font-family: 'Original Surfer', cursive;
  color: white;
  font-size: 18pt;
  text-align: center;
  margin-bottom: 25px;
}

#HomepageBookLesson-Btn
{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  box-shadow: 3px 5px #B2B2B2; 
}


/* ----------------------------------------------------------------------------------------------*/

/* CIRCULAR LINKS SECTION */

#Circle-Links-Section
{
  background:#6CAFD9;
  border-bottom: 5px solid white;
}

.img-center
{
  margin:0 auto;
}

.img-circular
{
  width: calc(150pt + 1vw);
  height: calc(150pt + 1vw);
  background-size: cover;
  display: block;
  border-radius: calc(200pt + 1vw);
  -webkit-border-radius: calc(150pt + 1vw);
  -moz-border-radius: calc(150pt + 1vw);
  margin-top: 30px;
  border: 3px solid white;
}

#img-surf-lesson-circle
{
  background-image: url('/img/surf-lesson2-circle.jpg');
}

#img-kids-camp-circle
{
  background-image: url('/img/kids-camp-circle.jpg');
}

#img-sup-circle
{
  background-image: url('/img/SUP-circle.jpg');
}

#img-rentals-circle
{
  background-image: url('/img/rentals-circle.jpg');
}

.circular-text
{
  margin-top: 22pt;
  text-align: center;
  font-size: 16pt;
  font-family: 'Lato', sans-serif;
  color: #034C8C;
  text-shadow: 1px 1px white;
}

/* ----------------------------------------------------------------------------------------------*/
/* ABOUT SECTION */

#AboutContainer
{
  background-image: linear-gradient(to left, #6CAFD9, #70C1B3);
  margin-top: 50px;
}

#about-title
{
  text-align: center;
  padding-top: 20px;    
  padding-bottom: 5px;
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: 18pt;
}

#about-title h1
{
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: 18pt;
}

#about-hr
{
  width: 150pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.about-para
{
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

#about-h2
{
  font-family: 'Lato', sans-serif;
  color: #2173A6;
  text-align: center;
  font-size: 16pt;
  padding-top: 20px;
}

#about-img
{
  width: 100%;
}

#SeePackages-Btn
{
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  box-shadow: 3px 5px white;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
}

/* ----------------------------------------------------------------------------------------------*/
/* CONTACT SECTION */

#Contact-Section
{
  padding-bottom: 100px;
}

#ContactContainer
{
  background-image: linear-gradient(to right, #6CAFD9, #70C1B3);
  margin-top: 50px;
}

#contact-title
{
  text-align: center;
  padding-top: 20px;    
  padding-bottom: 5px;
}

#contact-title h1
{
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: 18pt; 
}

.contact-para
{
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px 0px 15px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  color: white;
}

.contact-heading
{
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16pt;
}

#contact-message
{
  color: white;
  font-size: 14pt;
  padding: 10px 10px 25px 10px;
}


#SendMessage-Btn
{
  display: block;
  width: 80%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  box-shadow: 3px 5px white;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Add a background color and some padding around the form */
.container-contact 
{
  border-radius: 5px;
  padding: 20px;
}

#InputName
{
  width: 50%;
  margin-left: 25px;
}

#InputEmail
{
  width: 50%;
  margin-left: 25px;
}

#InputMessage
{
  width: 90%;
  margin-left: 25px;
  margin-bottom: 20px;
}

#SubmitMessage
{
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  box-shadow: 3px 5px white;
  margin-bottom: 30px;
  width: 50%;
}

.contactIcon
{
  height: 80px;
  padding-left: 25px;
}

.iconText
{
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 12pt;
}

.icon-div
{
  padding-top: 20px;
  margin-left: 20px;
}

#contact-hr
{
  width: 80%;
  margin-top: 25px;
  margin-bottom: 15px;
  border-top: 1px solid black;
}

.socialIcon
{
  height: 80px;
  padding-top: 15px;
  padding-right: 30px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------------------*/
/* FOOTER */

#Footer-Section
{
  background-color: #6CAFD9;
  border-top: 3px solid white;
}

#footerContainer
{
  
}

.footer-text
{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 8pt;
}

.footer-top-item
{
  padding-top: 40px;
}

#footer-logo
{
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}