* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #507DBC 0%, #90D7FF 100%);
    border-bottom: 2px solid white;
  }
  
  #main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
  }
  
  #main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .nav-links,
  #logo {
    text-decoration: none;
    color: white;
  }
  
  #logo:hover,
  .nav-links:hover {
    text-shadow: 2px 2px 2px black;
  }
  
  #logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 5px;
    margin-left: 10px;
    height: 90px;
  }
  
  #navbar-toggle {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
  
  #navbar-toggle:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  @media screen and (min-width: 665px) {
  
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 100px;
      align-items: center;
      position: fixed;
      width: 100%;
    }
  
    #main-nav {
      display: flex !important;
      margin-right: 50px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    #main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    #logo {
      margin-left: 20px;
    }
  
    #navbar-toggle {
      display: none;
    }
  
  } 

  /* ---------------------  VIDEO & Welcome Text -----------------*/

/* Style the video: 100% width to cover the entire window */
#videoDiv
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#myVideo
{
  width: 100%;
  height: 100vh;
  object-fit: fill;
  margin-bottom: 0px;
}

#overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top:160pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logoHomepage
{
  height: 180px;
  padding-bottom: 20pt;
}

#MainTitle
{
  font-family: 'Original Surfer', cursive;
  color: #034C8C;
  font-size: 18pt;
  text-align: center;
  text-shadow: 1px 1px white;
  padding-left: 20px;
  padding-right: 20px;
}

#welcomeText
{
  font-family: 'Original Surfer', cursive;
  color: white;
  text-shadow: 1px 1px #034C8C;
  font-size: 16pt;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#HomepageBookLesson-Btn
{
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  box-shadow: 3px 5px white;
}